* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, Verdana;
}

/* Style the header */
header {
    background-color: slategrey;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

    /* Style the list inside the menu */
    nav ul {
        list-style-type: none;
        padding: 0;
    }

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 3rem;
}
/* Splash screen */
.intro {
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;

}
.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}